{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=6515;Database=iso_development;Username=root;Password=change-me"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
